body{
    background-color: black;
}
h2, label, p{
    color :white;
    font-family: 'Montserrat', sans-serif
}
input{
    color: black;
    font-family: 'Montserrat', sans-serif
}

.container{
    display: flex;
    margin:0 auto;
    margin-top: 10%;
    margin-bottom: 10%;
    max-width: 50vh;
    max-height:50vh;
    border: 1px solid yellow;
    padding: 22px;
    border-radius: 22px;
}
h2{
    text-align: center;
}

.form-control{
    margin-bottom: 10px;
}
#buttons{
    display: flex;
    max-width: fit-content;
}

#BtnSubscribe{
    color: white;
    background-color: red;
    padding: 6px;
    font-size: 15px;

}
#BtnUnsubscribe{
    color: black !important;
    background-color: grey;
    padding: 6px;
    font-size: 15px;

    
}
#errormsg{
    color : red;
}
#successmsg{
    color : green   ;
}
